#!/bin/sh
#
if command -v age >/dev/null && [ ! -f "${HOME}/chezmoi.key" ]; then
    age --decrypt --output "${HOME}/chezmoi.key" "{{ .chezmoi.sourceDir }}/chezmoi.key.age"
    chmod 600 "${HOME}/chezmoi.key"
fi
