#!{{ lookPath "bash" }}
# vim: filetype=bash
#
# Initial system installation
#
{{- if .home }}
{{ template "install_home" . }}
{{ end -}}

{{- if .server }}
{{ template "install_server" . }}
{{ end -}}

{{- if .mobile }}
{{ template "install_mobile" . }}
{{ end -}}
