#!{{ lookPath "bash" }}
# vim: filetype=bash
#
# Initial system installation
#
{{- if .workstation }}
{{ template "install_workstation" . }}
{{ end -}}

{{- if .android }}
{{ template "install_android" . }}
{{ end -}}

{{- if .server }}
{{ template "install_server" . }}
{{ end -}}
