{{- $home := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") (or (eq .chezmoi.hostname "hyperion") (eq .chezmoi.hostname "surface-pro"))) -}}
{{-   $home = true -}}
{{- end -}}

{{- $work := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.hostname "NL1-LIN-002")) -}}
{{-   $work = true -}}
{{- end -}}

{{- $server := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") (ne .chezmoi.hostname "hyperion") (ne .chezmoi.hostname "surface-pro")) -}}
{{-   $server = true -}}
{{- end -}}

{{- $mobile := false -}}
{{- if (eq .chezmoi.os "android") -}}
{{-   $mobile = true -}}
{{- end -}}

encryption = "age"
[age]
    identity = "~/chezmoi.key"
    recipient = "age1xxerfddw7shly3wumass56ax5zkf90gd73dqrl8exskynqwhkcmsxxtdn3"

[git]
    autoAdd = true
    autoCommit = true
    autoPush = false

[diff]
    exclude = ["scripts"]

[data]
    name = "Marco"
    email = "nobody@home.now"
    home = {{ $home }}
    work = {{ $work }}
    server = {{ $server }}
    mobile = {{ $mobile }}
