{{- $workstation := false -}}
{{- $android := false -}}
{{- $wsl := false -}}
{{- $server := false -}}

{{- if (eq .chezmoi.hostname "hyperion") -}}
{{-   $workstation = true -}}
{{- else if (eq .chezmoi.os "android") -}}
{{-   $android = true -}}
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $wsl = true -}}
{{-   else -}}
{{-     $server = true -}}
{{-   end -}}
{{- end -}}

encryption = "age"
[age]
    identity = "~/chezmoi.key"
    recipient = "age1xxerfddw7shly3wumass56ax5zkf90gd73dqrl8exskynqwhkcmsxxtdn3"

[git]
    autoAdd = true
    autoCommit = true
    autoPush = false

[diff]
    exclude = ["scripts"]

[data]
    name = "Marco"
    email = "nobody@home.now"
    workstation = {{ $workstation }}
    android = {{ $android }}
    wsl = {{ $wsl }}
    server = {{ $server }}
