{{- $home := false -}}
{{- $wsl := false -}}
{{- $server := false -}}
{{- $mobile := false -}}

{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
{{-   if (or (eq .chezmoi.hostname "hyperion") (eq .chezmoi.hostname "prometheus")) -}}
{{-     $home = true -}}
{{-   else -}}
{{-     $server = true -}}
{{-   end -}}
{{- else if (eq .chezmoi.os "android") -}}
{{-   $mobile = true -}}
{{- end -}}

{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-   $wsl = true -}}
{{- end -}}

encryption = "age"
[age]
    identity = "~/chezmoi.key"
    recipient = "age1xxerfddw7shly3wumass56ax5zkf90gd73dqrl8exskynqwhkcmsxxtdn3"

[git]
    autoAdd = true
    autoCommit = true
    autoPush = false

[diff]
    exclude = ["scripts"]

[data]
    name = "Marco"
    email = "nobody@home.now"
    home = {{ $home }}
    wsl = {{ $wsl }}
    server = {{ $server }}
    mobile = {{ $mobile }}
