# Skip global compinit
skip_global_compinit=1
# Set default editor
export EDITOR=nvim
export VISUAL=nvim
# Set default browser
{{ if .work -}}
export BROWSER=chromium
{{- else -}}
export BROWSER=firefox
{{- end }}
# Set cache to RAM disk
export XDG_CACHE_HOME=/dev/shm
# Set config directory
export XDG_CONFIG_HOME=$HOME/.config
# Set data directory
export XDG_DATA_HOME=$HOME/.local/share
# Set desktop
export XDG_CURRENT_DESKTOP=sway
# Set WAYLAND backend
export GDK_BACKEND=wayland
export QT_QPA_PLATFORM=wayland
# Set pass directory
export PASSWORD_STORE_DIR=/$HOME/repositories/password-store
